<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>sticker paradise</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/myaccount.css') }}">
        <script src="{{ url_for('static', filename='java/myaccount.js') }}"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        </style>
    </head>
    <body>
        <header id="header">
            <div id="logobox">
                <a href="/"><h1 id="logo">sticker paradise</h1></a>
            </div>
            <!-- <div class="align-right">
                <button id = "logincheck" class="custom-btn btn-15" onclick="openForm()" style="display: inline-block;">Login/Sign up</button>
                <button id = "myaccount" class="custom-btn btn-15" onclick="window.location.href='/';" style="display: none;">My account</button>
            </div> -->
        </header>
        <div id="flex1">
            <div id="navigation">
                <nav class="nav vertical">
                    <ul>
                    <li onclick="layerr()">
                        <a href="#">
                            <img src="{{ url_for('static', filename='image/account.png') }}" alt="shoping cart" width="30px" height="30px">
                        </a>
                        <div id="editorname" style="padding-bottom: 0px;">My</div>
                        <div id="editorname">account</div>
                    </li>
                    <li onclick="stickerr()">
                        <a href="/custumize">
                            <img src="{{ url_for('static', filename='image/custum.png') }}" alt="shoping cart" width="30px" height="30px">
                        </a>
                        <div id="editorname">custumize</div>
                    </li>
                    <li onclick="uploadd()">
                        <a href="/cart">
                            <img src="{{ url_for('static', filename='image/cart.png') }}" alt="shoping cart" width="30px" height="30px">
                        </a>
                        <div id="editorname">Cart</div>
                    </li>
                    </ul>
                </nav>
            </div>
            <div id="flex2">
                <div id="horizontal_bar" >
                    <div id="big_logo" > <img src="{{ url_for('static', filename='image/mainlogo.png') }}" alt="shoping cart" ></div>
                    <div id="name_plate">
                        <div style="font-size: 3vw; font-family: monospace;"> Hi,</div>
                        <div style="font-size: 4vw; font-family: monospace; margin-left: 2vw;"> {{ adress[0][0] }}.</div>
                    </div>
                    <button class="custom-btn btn-15" style="margin-top: 7px; width: 17vw;" onclick="logout()">Log out</button>
                </div>
                <div id="flex3">
                    <div id="order_list">
                        <div style="display: flex; justify-content: space-around;"> 
                            <div style="font-family: monospace; font-size: 28px; margin-top:  8px;">Your Orders</div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: space-around; margin-top: 4px;">
                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">Date</div>
                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">Order NO</div>
                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">item</div>
                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">Status</div>
                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">Quantity</div>
                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">Total</div>
                            <div style="font-family: monospace; font-size: 15px; width: fit-content;">payment status</div>
                        </div>
                        <hr>
                        <div>
                            <ul style="list-style-type: none; padding-left: 0px;">
                                {% for item in orderhist %}
                                    <li>
                                        <div id="order_elements">
                                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">{{ item[0] }}</div>
                                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">{{ item[1] }}</div>
                                            <div style="height: 9vh; width: fit-content; float: left; display: flex; justify-content: flex-start;" onmouseover="showPreview('{{ url_for('static', filename='cart_images/' + item[2] + '.png') }}')" onmouseout="resetPreview()">
                                                <img style="background-color: white; border-radius: 10px;" src="{{ url_for('static', filename='cart_images/' +  item[2] + '.png') }}" alt="order image" >
                                            </div>
                                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">{{ item[3] }}</div>
                                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">{{ item[4] }}</div>
                                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">{{ item[5] }}</div>
                                            <div style="font-family: monospace; font-size: 15px; width: fit-content; float: left;">{{ item[6] }}</div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div  id="preview_image" >
                        <img id="dynamic_image" src="{{ url_for('static', filename='image/delete.png') }}" alt="delete" style="border: 5px solid #555; border-radius: 25px">
                    </div>
                    <div id="adress_list" >
                        <div style="font-family: monospace; font-size: 28px; margin-top:  15px;">Address</div>
                        <div id="final_name" style="font-family: monospace; font-size: 17px; margin-top:  5px;">{{ adress[0][0] }}</div>
                        <div id="final_adress1" style="font-family: monospace; font-size: 17px; margin-top:  2px;">{{ adress[0][1] }}</div>
                        <div id="final_adress2" style="font-family: monospace; font-size: 17px; margin-top:  2px;">{{ adress[0][2] }}</div>
                        <div style="font-family: monospace; font-size: 17px; margin-top:  2px;">
                            <div id="final_state" style="float: left; margin-right: 10px;">{{ adress[0][3] }}</div>
                            <div id="final_pincode" >{{ adress[0][4] }}</div>
                        </div>
                        <div style="font-family: monospace; font-size: 17px; margin-top:  2px;">India</div>
                        <div style="font-family: monospace; font-size: 17px; margin-top:  2px;">
                            <div style="float: left; margin-right: 10px;">Mobile number:- </div>
                            <div id="final_mobilenumber" >{{ adress[0][5] }}</div>
                        </div>
                        <div id="adress_edit_button">
                            <button onclick="openForm()" class="custom-btn btn-15" style="margin-top: 7px; width: 17vw;">Add/edit adress</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="adress_form">
            <form id="address" style="margin: 12px;">
                <div>
                    <div style="float: left; margin-right: 5px;">
                        <label for="Name">Name</label>
                        <p style="margin-top: 5px;"><input class="input2" type="text" id="Name" autocomplete="off" placeholder="Enter full Name" name="Name" /></p>
                    </div>
                    <label for="address1">Address 1</label>
                    <p style="margin-top: 5px;"><input class="input2" type="text" id="address1" autocomplete="off" placeholder="Enter address 1" name="address1" /></p>
                </div>
                <div>
                    <div style="float: left; margin-right: 5px;">
                        <label for="address2">Address 2</label>
                        <p style="margin-top: 5px;"><input class="input2" type="text" id="address2" autocomplete="off" placeholder="Enter address 2" name="address2" /></p>
                    </div>
                    <label for="state">State</label>
                    <p style="margin-top: 5px;"><input class="input2" type="text" id="state" autocomplete="off" placeholder="Enter State Name" name="state" /></p>
                </div>
                <div>
                    <div style="float: left; margin-right: 5px;">
                        <label for="pincode">Pincode</label>
                        <p style="margin-top: 5px;"><input class="input2" type="number" id="pincode" autocomplete="off" placeholder="Enter area pincode" maxlength="8" name="pincode" /></p>
                    </div>
                    <label for="mobilenumber">Mobile Number</label>
                    <p style="margin-top: 5px;"><input class="input2" type="number" id="mobilenumber"  autocomplete="off" placeholder="Enter your Mobile Number" maxlength="12" name="mobilenumber"/></p>
                </div>
                <p class="submit"><input class="input2" type="submit" value="Submit" name="logintype"/></p>
            </form>
            <div id="close_form">
                <button onclick="openForm()" class="custom-btn btn-15" style="margin-bottom: 5px; width: 9vw;     height: 27px;
                ">close</button>
            </div>
        </div>
        <footer>
            <a href="/privacy_policy" style="text-decoration: none; color: black; font-family: 'Dancing Script', cursive;"><div>privacy policy</div></a>
            <a href="/terms_and_condition" style="text-decoration: none; color: black; font-family: 'Dancing Script', cursive;">Terms and conditions</a>
            <a href="/contact_us" style="text-decoration: none; color: black; font-family: 'Dancing Script', cursive;"><div>contact us</div></a>
        </footer>
    </body>
</html>